.main{
    display: block;
    align-items: center;
    justify-content: center;
}
.anchor{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: bold;
    margin-top: 15px;
}
.para{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5vh 33vw;
    font-size: 25px;
}
.louder{
    color: red;
    margin-left: 23px;
}
.box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
    margin-bottom: 10vh;
    height: 80vh;
    width: 60vw;
    border: 10px solid rgb(233, 233, 233);
    border-radius: 25px;
}
.page1{
    height: 80vh;
    width: 30vw;
    border-right: 1px solid rgb(182, 182, 182);
}
.project{
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'calibri';
}
.lorem1{
    padding: 3vh 2vw 1vh 3vw;
    font-size: 16px;
}
.lorem2{
    padding: 5vh 3vw 5vh 3vw;
    font-size: 16px;
}
.lorem3{
    padding: 5vh 3vw 5vh 3vw;
    font-size: 16px;
}
.page2{
    height: 80vh;
    width: 30vw;
}
.para3{
    display: flex;
    font-size: 20px;
    color: red;
    padding: 0.5vh 3vw;
    font-family: 'calibri';
}
.buttons1{
    gap: 50px;
    padding-top: 1vh;
    padding-left: 3vw;
    margin-right: 5vw;
}
.buttons2{
    gap: 50px;
    padding-top: 5vh;
    padding-left: 3vw;
    margin-right: 5vw;
}
.buttons3{
    gap: 50px;
    padding-top: 5vh;
    padding-left: 3vw;
    margin-right: 5vw;
}
.btn{
    background-color: rgb(0, 72, 255);
    padding: 5px 20px;
    margin: 10px;
    border-radius: 20px;
    color: whitesmoke;
    font-size: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px black;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
}
.yr1{
    color: rgb(188, 188, 188);
    padding: 2vh 10vw 5vh 3vw;
    font-size: 30px;
}
.yr2{
    color: rgb(188, 188, 188);
    padding: 4vh 10vw 5vh 3vw;
    font-size: 30px;
}
.yr3{
    color: rgb(188, 188, 188);
    padding: 5vh 10vw 2vh 3vw;
    font-size: 30px;
}
.div3{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.web{
    color: red;
}
.webHead{
    font-size: 80px;
    font-weight: bold;
}
.webAnchor{
    font-size: 20px;
}
.mainWebIcons{
    margin: 30px 0px;
    display: inline-block;
}